body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container,
.register-container {
    background-color: #ffffff;
    padding: 5px 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 40px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555555;
    font-size: 20px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: calc(100% - 20px); /* Adjust width to fit inside container */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size:30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; /* Full width button */
    box-sizing: border-box; /* Include padding and border in element's total width */
}

button[type="submit"]:hover {
    background-color: #28832d;
}

p {
    text-align: center;
    font-size: 25px;
    color: #555555;
}

a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 25px;
}

